Temp.json
[
    {
        "id": "8b8a0509b9343dd0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "887d7575b3f3d7df",
        "type": "ui_gauge",
        "z": "8b8a0509b9343dd0",
        "name": "",
        "group": "b0e70eaada0e0895",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "95ba92022953cd97",
        "type": "mqtt in",
        "z": "8b8a0509b9343dd0",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "5a31df387fcf8a3c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a0270d95f717cd02",
                "887d7575b3f3d7df"
            ]
        ]
    },
    {
        "id": "a0270d95f717cd02",
        "type": "function",
        "z": "8b8a0509b9343dd0",
        "name": "",
        "func": "if(msg.temperature<=40 ){\n    msg.payload=\"tempreture is low\"\n}\nelse if (msg.temperature<=60 && mag.tempreture>40){\n     msg.payload=\"tempreture is moderatee\"\n}else{\n    msg.payload=\"tempreture is high \"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "599820e68033d5c4",
                "f9c9965d97f36725"
            ]
        ]
    },
    {
        "id": "599820e68033d5c4",
        "type": "ui_audio",
        "z": "8b8a0509b9343dd0",
        "name": "",
        "group": "b0e70eaada0e0895",
        "voice": "Microsoft Mark - English (United States)",
        "always": false,
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "f9c9965d97f36725",
        "type": "debug",
        "z": "8b8a0509b9343dd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0e70eaada0e0895",
        "type": "ui_group",
        "name": "Default",
        "tab": "8bd682908f2900f5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5a31df387fcf8a3c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.28.10.222",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8bd682908f2900f5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]